@media only screen and (max-width: 550px) and (orientation: portrait) {
	body{
	font-family: "sofia-pro" !important;
	margin: 0;
	padding: 0;
	background: #0E0E0E;
	overflow-x: hidden;
	position: relative;
}
header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 5% 0;
}
section {
	overflow: hidden;
}
canvas {
	 width: 100%;
   height: 100%;
   display: block;
}
.title, #result {
	color: #fff;
	margin: 5% 0;
}
.container {
	display: flex;
	flex-direction: column;
	margin: 0 15%;
	width: 70%;

}
.row {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 2% 5%;
	width: 90%;
}
.col-3 {
	width: 24%;
	display: block;
	position:relative;
}
.col-4 {
	width: 20%;
	display: block;
	position: relative;
}
.col-6 {
	width: 100%;
	display: block;
	position: relative;
}
.col-7 {
	width: 70%;
	display: block;
	position: relative;
}
.col-12 {
	width: 100%;
	display: block;
	position: relative;
}
.cardGeom {
	background-image: url("../assets/bck.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 20px;
	padding-bottom: 30vh;
	width: 100%;
	margin: 5% 0;
}
.cardGeom .ctn-geom {
	color: #fff;
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10% 10%;
    width: 80%;
}
.cardGeom .ctn-geom h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
}
.cardGeom img {
	position: absolute;
	top: -10px;
	width: 70%;
	margin: 0 15%;
	/* max-height: 250px; */
	overflow: hidden;
}
.cardGeom .btn-draw {
	background: #FEAD33;
	border-radius: 20px;
	position: relative;
	text-align: center;
	cursor: pointer;
}
.cardGeom .btn-draw p {
	margin: 3% 0;
	text-transform: uppercase;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
}
#ctnForm {
	background: #242424;
	border-radius: 20px;
	display: block;
    height: min-content;
}
#ctnForm #ctnLeft {
	background: #FEAD33;
	border-radius: 20px 0 0 20px;
	padding: 5%;
	color: #fff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
#ctnForm #ctnLeft h2 {
	font-size: 2.7em;
	margin-bottom: 80%;

}
#ctnForm #ctnLeft #ctnImg {
	overflow: hidden;
    display: block;
    width: 100%;
    height: 100px;
}
#ctnForm #ctnLeft #ctnImg img{
	position: absolute;
	display: block;
	right: 0;
	bottom: 0;
	width: 90%;
}
#ctnForm #formVariable {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 4%;
}
#ctnForm #formVariable div {
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
	margin: 3% 0;
}
#ctnForm #formVariable input {
	padding: 0.8em 1em;
	border-radius: 10px;
	font-size: 1em;
	border:none;
}
#ctnForm #formVariable a {
	background: #3F6ECC;
	color: #fff;
	font-weight: bold;
	padding: 1em 1em;
	border-radius: 10px;
	font-size: 0.9em;
	border:none;
	text-align: center;
	cursor: pointer;
}
#panel2 {
	transform: translateX(3000px) translateY(0px);
	opacity: 0;
	transition: 0.5s ease-in-out;
}
#panel1 {
	transition: 0.5s ease-in-out;
}
#btnConsole,#btnSave {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background: #FFFFFF;
	border: 2px solid #FEAD33;
	box-shadow: 0px 20px 20px rgba(53, 53, 53, 0.2);
	color: #FEAD33;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}
#btnConsole:hover,#btnSave:hover {
	transform: scale(1.2);
}
#Console {
	display: flex;
	position: absolute;
	height: 100vh;
	width: 70%;
	background-color: #fff;
	right: 0;
	top: 0;
	z-index: 8;
	border-left: 4px solid #FEAD33;
	transform: translateX(100%);
	transition: 0.8s ease-in-out;
	overflow-y: scroll;
	overflow-x: hidden;
	flex-direction: column;
	padding: 2%;
}
#Save {
	display: flex;
	position: absolute;
	height: 100vh;
	width: 70%;
	background-color: #fff;
	right: 0;
	top: 0;
	z-index: 8;
	border-left: 4px solid #FEAD33;
	transform: translateX(100%);
	transition: 0.8s ease-in-out;
	overflow-y: scroll;
	overflow-x: hidden;
	flex-direction: column;
	padding: 2%;
}
#Console ul {
	list-style: none;
	padding: 0;
}
#notifBtn {
	position: absolute;
	width: 20px;
	height:20px;
	background-color: red;
	border-radius: 50px;
	top: -5px;
	right: -5px;
	display: none;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
#btnRetour, #btnNewFigure {
	border-radius: 50px !important;
	background: #141414 !important;
	padding: 1em 2em !important;
	cursor: pointer;
}
#btnNewFigure,#btnSaveFigure {
	margin: 2% 0;
	display: block;
	width: max-content;
}
#btnSaveFigure {
	background: #3F6ECC ;
	border-radius: 50px !important;
	padding: 1em 2em !important; 
	cursor: pointer;
}
#btnConsole {
	bottom: 30px;
	right: 30px;
	z-index: 9;
}
#btnSave {
	bottom: 100px;
	right: 30px;
	z-index: 7;
}
#ctnBtnPanel3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
}
.ctnFigureSaved {
	background: #242424;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 2% 5%;
    max-height: 150px;
    width: 90%;
    overflow: hidden;
    color: #fff;
    align-items: center;
    margin: 2% 0;
}
.ctnFigureSaved img {
	display: block;
    position: relative;
    width: 40%;
    height: 200px;
    top: 40px;
    left: -10px;
}
.ctnFigureSaved p, h3 {
	margin: 0;
}
.ctnFigureSaved .figure-head .sub-name {
	margin: 0 5%;
}
.ctnFigureSaved .figure-head {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.ctnFigureSaved .figure-data {
	width: 50%;
}
#Save a {
	cursor: pointer;
	transition: 0.5s ease-in-out;
	transform: scale(1);
}
#Save a:hover {
	transform: scale(1.05);
}
#Save #save-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#Save #save-head button {
	color: red;
	border:none;
	background: none;
	font-size: 14px;
	cursor: pointer;
}
.head-info-fig {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.codefigure {
	background: #FEAD33;
	border-radius: 50px;
	border:none;
	padding: 0.1em 1em;
	margin: 0 5%;
	color: #000;
}
#outerNews {
	position: absolute;
	display: flex;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.8);
	z-index: 20;
	align-items: center;
	justify-content: center;
}
#innerNews {
	background: #fff;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 70%;
	padding: 2% 1%;
	border-radius: 10px;
}
#innerNews div {
	background: #FEAD33;
	padding: 0.5em 1em;
	color: #fff;
	font-weight: bold;
	border-radius: 50px;
	cursor: pointer;
}
#btnStart {
	overflow: hidden;
}
#btnStart span {
	display: block;
	transition: 0.5s ease-in-out;
}
}
@media (orientation: landscape) and (max-width : 1024px) {
	body{
	font-family: "sofia-pro" !important;
	margin: 0;
	padding: 0;
	background: #0E0E0E;
	overflow: hidden;
}
header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 3% 0;
}
section {
	overflow: hidden;
}
canvas {
	 width: 100%;
   height: 100%;
   display: block;
   border-radius: 20px 0 0 20px;
}
.title, #result {
	color: #fff;
	margin: 1% 0;
}
.container {
	display: flex;
	flex-direction: column;
	margin: 0 15%;
	width: 70%;

}
.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0;

}
.col-3 {
	width: 24%;
	display: block;
	position:relative;
	margin: 1% 0;
}
.col-4 {
	width: 20%;
	display: block;
	position: relative;
}
.col-6 {
	width: 48%;
	display: block;
	position: relative;
}
.col-7 {
	width: 70%;
	display: block;
	position: relative;
}
.col-12 {
	width: 100%;
	display: block;
	position: relative;
}
.cardGeom {
	background-image: url("../assets/bck.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 20px;
	padding-bottom: 30vh;

}
.cardGeom .ctn-geom {
	color: #fff;
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10% 10%;
    width: 80%;
}
.cardGeom .ctn-geom h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
}
.cardGeom img {
	position: absolute;
	top: -10px;
	width: 90%;
	margin: 0 5%;
/*	max-height: 250px;*/
	overflow: hidden;
}
.cardGeom .btn-draw {
	background: #FEAD33;
	border-radius: 20px;
	position: relative;
	text-align: center;
	cursor: pointer;
}
.cardGeom .btn-draw p {
	margin: 3% 0;
	text-transform: uppercase;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
}
#ctnForm {
	background: #242424;
	border-radius: 20px;
	display: block;
    height: min-content;
}
#ctnForm #ctnLeft {
	background: #FEAD33;
	border-radius: 20px 0 0 20px;
	padding: 5%;
	color: #fff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
#ctnForm #ctnLeft h2 {
	font-size: 2.7em;
	margin-bottom: 80%;

}
#ctnForm #ctnLeft #ctnImg {
	overflow: hidden;
    display: block;
    width: 100%;
    height: 100px;
}
#ctnForm #ctnLeft #ctnImg img{
	position: absolute;
	display: block;
	right: 0;
	bottom: 0;
	width: 90%;
}
#ctnForm #formVariable {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 4%;
}
#ctnForm #formVariable div {
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
	margin: 0.8% 0;
}
#ctnForm #formVariable input {
	padding: 0.8em 1em;
	border-radius: 10px;
	font-size: 1em;
	border:none;
}
#ctnForm #formVariable a {
	background: #3F6ECC ;
	color: #fff;
	font-weight: bold;
	padding: 1em 1em;
	border-radius: 10px;
	font-size: 1em;
	border:none;
	text-align: center;
	cursor: pointer;
}
#panel2 {
	transform: translateX(3000px) translateY(0px);
	opacity: 0;
	transition: 0.5s ease-in-out;
}
#panel1 {
	transition: 0.5s ease-in-out;
}
#btnConsole,#btnSave {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background: #FFFFFF;
	border: 2px solid #FEAD33;
	box-shadow: 0px 20px 20px rgba(53, 53, 53, 0.2);
	color: #FEAD33;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}
#btnConsole:hover,#btnSave:hover {
	transform: scale(1.2);
}
#Console {
	display: flex;
	position: absolute;
	height: 100vh;
	width: 25vw;
	background-color: #fff;
	right: 0;
	top: 0;
	z-index: 8;
	border-left: 4px solid #FEAD33;
	transform: translateX(100%);
	transition: 0.8s ease-in-out;
	overflow-y: scroll;
	overflow-x: hidden;
	flex-direction: column;
	padding: 2%;
}
#Save {
	display: flex;
	position: absolute;
	height: 100vh;
	width: 25vw;
	background-color: #fff;
	right: 0;
	top: 0;
	z-index: 8;
	border-left: 4px solid #FEAD33;
	transform: translateX(100%);
	transition: 0.8s ease-in-out;
	overflow-y: scroll;
	overflow-x: hidden;
	flex-direction: column;
	padding: 2%;
}
#Console ul {
	list-style: none;
	padding: 0;
}
#notifBtn {
	position: absolute;
	width: 20px;
	height:20px;
	background-color: red;
	border-radius: 50px;
	top: -5px;
	right: -5px;
	display: none;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
#btnRetour, #btnNewFigure {
	border-radius: 50px !important;
	background: #141414 !important;
	padding: 1em 2em !important; 
	cursor: pointer;
}
#btnNewFigure,#btnSaveFigure {
	margin: 5% 0;
    display: block;
    width: max-content;
}
#btnSaveFigure {
	background: #3F6ECC ;
	border-radius: 50px !important;
	padding: 1em 2em !important; 
	cursor: pointer;
}
#btnConsole {
	bottom: 30px;
	right: 30px;
	z-index: 9;
}
#btnSave {
	bottom: 100px;
	right: 30px;
	z-index: 7;
}
#ctnBtnPanel3 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
}
.ctnFigureSaved {
	background: #242424;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 2% 5%;
    max-height: 150px;
    width: 90%;
    overflow: hidden;
    color: #fff;
    align-items: center;
    margin: 2% 0;
}
.ctnFigureSaved img {
	display: block;
    position: relative;
    width: 40%;
    height: 200px;
    top: 40px;
    left: -10px;
}
.ctnFigureSaved p, h3 {
	margin: 0;
}
.ctnFigureSaved .figure-head .sub-name {
	margin: 0 5%;
}
.ctnFigureSaved .figure-head {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.ctnFigureSaved .figure-data {
	width: 50%;
}
#Save a {
	cursor: pointer;
	transition: 0.5s ease-in-out;
	transform: scale(1);
}
#Save a:hover {
	transform: scale(1.05);
}
#Save #save-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#Save #save-head button {
	color: red;
	border:none;
	background: none;
	font-size: 14px;
	cursor: pointer;
}
.head-info-fig {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.codefigure {
	background: #FEAD33;
	border-radius: 50px;
	border:none;
	padding: 0.1em 1em;
	margin: 0 5%;
	color: #000;
}
#outerNews {
	position: absolute;
	display: flex;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.8);
	z-index: 20;
	align-items: center;
	justify-content: center;
}
#innerNews {
	background: #fff;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30vw;
	padding: 2% 1%;
	border-radius: 10px;
}
#innerNews div {
	background: #FEAD33;
	padding: 0.5em 1em;
	color: #fff;
	font-weight: bold;
	border-radius: 50px;
	cursor: pointer;
}
#btnStart {
	overflow: hidden;
}
#btnStart span {
	display: block;
	transition: 0.5s ease-in-out;
}
}
@media only screen and (min-width: 550px) and (max-width: 1023px) and (orientation: portrait) {
		body{
	font-family: "sofia-pro" !important;
	margin: 0;
	padding: 0;
	background: #0E0E0E;
	overflow-x: hidden;
}
header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 5% 0;
}
section {
	overflow: hidden;
}
canvas {
	 width: 100%;
   height: 100%;
   display: block;
}
.title, #result {
	color: #fff;
	margin: 5% 0;
}
.container {
	display: flex;
	flex-direction: column;
	margin: 0 15%;
	width: 70%;

}
.row {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 2% 5%;
	width: 90%;
}
.col-3 {
	width: 24%;
	display: block;
	position:relative;
}
.col-4 {
	width: 20%;
	display: block;
	position: relative;
}
.col-6 {
	width: 100%;
	display: block;
	position: relative;
}
.col-7 {
	width: 70%;
	display: block;
	position: relative;
}
.col-12 {
	width: 100%;
	display: block;
	position: relative;
}
.cardGeom {
	background-image: url("../assets/bck.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 20px;
	padding-bottom: 30vh;
	width: 100%;
	margin: 5% 0;
}
.cardGeom .ctn-geom {
	color: #fff;
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10% 10%;
    width: 80%;
}
.cardGeom .ctn-geom h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
}
.cardGeom img {
	position: absolute;
	top: -10px;
	width: 70%;
	margin: 0 15%;
	/* max-height: 250px; */
	overflow: hidden;
}
.cardGeom .btn-draw {
	background: #FEAD33;
	border-radius: 20px;
	position: relative;
	text-align: center;
	cursor: pointer;
}
.cardGeom .btn-draw p {
	margin: 3% 0;
	text-transform: uppercase;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
}
#ctnForm {
	background: #242424;
	border-radius: 20px;
	display: block;
    height: min-content;
}
#ctnForm #ctnLeft {
	background: #FEAD33;
	border-radius: 20px 0 0 20px;
	padding: 5%;
	color: #fff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
#ctnForm #ctnLeft h2 {
	font-size: 2.7em;
	margin-bottom: 80%;

}
#ctnForm #ctnLeft #ctnImg {
	overflow: hidden;
    display: block;
    width: 100%;
    height: 100px;
}
#ctnForm #ctnLeft #ctnImg img{
	position: absolute;
	display: block;
	right: 0;
	bottom: 0;
	width: 90%;
}
#ctnForm #formVariable {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 4%;
}
#ctnForm #formVariable div {
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
	margin: 3% 0;
}
#ctnForm #formVariable input {
	padding: 0.8em 1em;
	border-radius: 10px;
	font-size: 1em;
	border:none;
}
#ctnForm #formVariable a {
	background: #3F6ECC;
	color: #fff;
	font-weight: bold;
	padding: 1em 1em;
	border-radius: 10px;
	font-size: 0.9em;
	border:none;
	text-align: center;
	cursor: pointer;
}
#panel2 {
	transform: translateX(3000px) translateY(0px);
	opacity: 0;
	transition: 0.5s ease-in-out;
}
#panel1 {
	transition: 0.5s ease-in-out;
}
#btnConsole,#btnSave {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background: #FFFFFF;
	border: 2px solid #FEAD33;
	box-shadow: 0px 20px 20px rgba(53, 53, 53, 0.2);
	color: #FEAD33;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}
#btnConsole:hover,#btnSave:hover {
	transform: scale(1.2);
}
#Console {
	display: flex;
	position: absolute;
	height: 100vh;
	width: 70%;
	background-color: #fff;
	right: 0;
	top: 0;
	z-index: 8;
	border-left: 4px solid #FEAD33;
	transform: translateX(100%);
	transition: 0.8s ease-in-out;
	overflow-y: scroll;
	overflow-x: hidden;
	flex-direction: column;
	padding: 2%;
}
#Save {
	display: flex;
	position: absolute;
	height: 100vh;
	width: 70%;
	background-color: #fff;
	right: 0;
	top: 0;
	z-index: 8;
	border-left: 4px solid #FEAD33;
	transform: translateX(100%);
	transition: 0.8s ease-in-out;
	overflow-y: scroll;
	overflow-x: hidden;
	flex-direction: column;
	padding: 2%;
}
#Console ul {
	list-style: none;
	padding: 0;
}
#notifBtn {
	position: absolute;
	width: 20px;
	height:20px;
	background-color: red;
	border-radius: 50px;
	top: -5px;
	right: -5px;
	display: none;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
#btnRetour, #btnNewFigure {
	border-radius: 50px !important;
	background: #141414 !important;
	padding: 1em 2em !important;
	cursor: pointer;
}
#btnNewFigure,#btnSaveFigure {
	margin: 2% 0;
	display: block;
	width: max-content;
}
#btnSaveFigure {
	background: #3F6ECC ;
	border-radius: 50px !important;
	padding: 1em 2em !important; 
	cursor: pointer;
}
#btnConsole {
	bottom: 30px;
	right: 30px;
	z-index: 9;
}
#btnSave {
	bottom: 100px;
	right: 30px;
	z-index: 7;
}
#ctnBtnPanel3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
}
.ctnFigureSaved {
	background: #242424;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 2% 5%;
    max-height: 150px;
    width: 90%;
    overflow: hidden;
    color: #fff;
    align-items: center;
    margin: 2% 0;
}
.ctnFigureSaved img {
	display: block;
    position: relative;
    width: 40%;
    height: 200px;
    top: 40px;
    left: -10px;
}
.ctnFigureSaved p, h3 {
	margin: 0;
}
.ctnFigureSaved .figure-head .sub-name {
	margin: 0 5%;
}
.ctnFigureSaved .figure-head {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.ctnFigureSaved .figure-data {
	width: 50%;
}
#Save a {
	cursor: pointer;
	transition: 0.5s ease-in-out;
	transform: scale(1);
}
#Save a:hover {
	transform: scale(1.05);
}
#Save #save-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#Save #save-head button {
	color: red;
	border:none;
	background: none;
	font-size: 14px;
	cursor: pointer;
}
.head-info-fig {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.codefigure {
	background: #FEAD33;
	border-radius: 50px;
	border:none;
	padding: 0.1em 1em;
	margin: 0 5%;
	color: #000;
}
#outerNews {
	position: absolute;
	display: flex;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.8);
	z-index: 20;
	align-items: center;
	justify-content: center;
}
#innerNews {
	background: #fff;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 70%;
	padding: 2% 1%;
	border-radius: 10px;
}
#innerNews div {
	background: #FEAD33;
	padding: 0.5em 1em;
	color: #fff;
	font-weight: bold;
	border-radius: 50px;
	cursor: pointer;
}
#btnStart {
	overflow: hidden;
}
#btnStart span {
	display: block;
	transition: 0.5s ease-in-out;
}
}
@media only screen and (min-width: 1024px)  {
	body{
	font-family: "sofia-pro" !important;
	margin: 0;
	padding: 0;
	background: #0E0E0E;
	overflow-x: hidden;
	overflow-y: auto;
}
header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 3% 0;
}
section {
	overflow: hidden;
}
canvas {
	 width: 100%;
   height: 100%;
   display: block;
   border-radius: 20px 0 0 20px;
}
.title, #result {
	color: #fff;
	margin: 1% 0;
}
.container {
	display: flex;
	flex-direction: column;
	margin: 0 15%;
	width: 70%;

}
.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0;

}
.col-3 {
	width: 24%;
	display: block;
	position:relative;
	margin: 1% 0;
}
.col-4 {
	width: 20%;
	display: block;
	position: relative;
}
.col-6 {
	width: 48%;
	display: block;
	position: relative;
}
.col-7 {
	width: 70%;
	display: block;
	position: relative;
}
.col-12 {
	width: 100%;
	display: block;
	position: relative;
}
.cardGeom {
	background-image: url("../assets/bck.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 20px;
	padding-bottom: 30vh;

}
.cardGeom .ctn-geom {
	color: #fff;
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10% 10%;
    width: 80%;
}
.cardGeom .ctn-geom h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
}
.cardGeom img {
	position: absolute;
	top: -10px;
	width: 90%;
	margin: 0 5%;
/*	max-height: 250px;*/
	overflow: hidden;
}
.cardGeom .btn-draw {
	background: #FEAD33;
	border-radius: 20px;
	position: relative;
	text-align: center;
	cursor: pointer;
}
.cardGeom .btn-draw p {
	margin: 3% 0;
	text-transform: uppercase;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
}
#ctnForm {
	background: #242424;
	border-radius: 20px;
	display: block;
    height: min-content;
}
#ctnForm #ctnLeft {
	background: #FEAD33;
	border-radius: 20px 0 0 20px;
	padding: 5%;
	color: #fff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
#ctnForm #ctnLeft h2 {
	font-size: 2.7em;
	margin-bottom: 80%;

}
#ctnForm #ctnLeft #ctnImg {
	overflow: hidden;
    display: block;
    width: 100%;
    height: 100px;
}
#ctnForm #ctnLeft #ctnImg img{
	position: absolute;
	display: block;
	right: 0;
	bottom: 0;
	width: 90%;
}
#ctnForm #formVariable {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 4%;
}
#ctnForm #formVariable div {
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
	margin: 0.8% 0;
}
#ctnForm #formVariable input {
	padding: 0.8em 1em;
	border-radius: 10px;
	font-size: 1em;
	border:none;
}
#ctnForm #formVariable a {
	background: #3F6ECC ;
	color: #fff;
	font-weight: bold;
	padding: 1em 1em;
	border-radius: 10px;
	font-size: 1em;
	border:none;
	text-align: center;
	cursor: pointer;
}
#panel2 {
	transform: translateX(3000px) translateY(0px);
	opacity: 0;
	transition: 0.5s ease-in-out;
}
#panel1 {
	transition: 0.5s ease-in-out;
}
#btnConsole,#btnSave {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background: #FFFFFF;
	border: 2px solid #FEAD33;
	box-shadow: 0px 20px 20px rgba(53, 53, 53, 0.2);
	color: #FEAD33;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}
#btnConsole:hover,#btnSave:hover {
	transform: scale(1.2);
}
#Console {
	display: flex;
	position: fixed;
	height: 100vh;
	width: 25vw;
	background-color: #fff;
	right: 0;
	top: 0;
	z-index: 8;
	border-left: 4px solid #FEAD33;
	transform: translateX(100%);
	transition: 0.8s ease-in-out;
	overflow-y: scroll;
	overflow-x: hidden;
	flex-direction: column;
	padding: 2%;
}
#Save {
	display: flex;
	position: fixed;
	height: 100vh;
	width: 25vw;
	background-color: #fff;
	right: 0;
	top: 0;
	z-index: 8;
	border-left: 4px solid #FEAD33;
	transform: translateX(100%);
	transition: 0.8s ease-in-out;
	overflow-y: scroll;
	overflow-x: hidden;
	flex-direction: column;
	padding: 2%;
}
#Console ul {
	list-style: none;
	padding: 0;
}
#notifBtn {
	position: absolute;
	width: 20px;
	height:20px;
	background-color: red;
	border-radius: 50px;
	top: -5px;
	right: -5px;
	display: none;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
#btnRetour, #btnNewFigure {
	border-radius: 50px !important;
	background: #141414 !important;
	padding: 1em 2em !important; 
	cursor: pointer;
}
#btnNewFigure,#btnSaveFigure {
	margin: 5% 0;
    display: block;
    width: max-content;
}
#btnSaveFigure {
	background: #3F6ECC ;
	border-radius: 50px !important;
	padding: 1em 2em !important; 
	cursor: pointer;
}
#btnConsole {
	bottom: 30px;
	right: 30px;
	z-index: 9;
}
#btnSave {
	bottom: 100px;
	right: 30px;
	z-index: 7;
}
#ctnBtnPanel3 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
}
.ctnFigureSaved {
	background: #242424;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 2% 5%;
    max-height: 150px;
    width: 90%;
    overflow: hidden;
    color: #fff;
    align-items: center;
    margin: 2% 0;
}
.ctnFigureSaved img {
	display: block;
    position: relative;
    width: 40%;
    height: 200px;
    top: 40px;
    left: -10px;
}
.ctnFigureSaved p, h3 {
	margin: 0;
}
.ctnFigureSaved .figure-head .sub-name {
	margin: 0 5%;
}
.ctnFigureSaved .figure-head {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.ctnFigureSaved .figure-data {
	width: 50%;
}
#Save a {
	cursor: pointer;
	transition: 0.5s ease-in-out;
	transform: scale(1);
}
#Save a:hover {
	transform: scale(1.05);
}
#Save #save-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#Save #save-head button {
	color: red;
	border:none;
	background: none;
	font-size: 14px;
	cursor: pointer;
}
.head-info-fig {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.codefigure {
	background: #FEAD33;
	border-radius: 50px;
	border:none;
	padding: 0.1em 1em;
	margin: 0 5%;
	color: #000;
}
#outerNews {
	position: fixed;
	display: flex;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.8);
	z-index: 20;
	align-items: center;
	justify-content: center;
}
#innerNews {
	background: #fff;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30vw;
	padding: 2% 1%;
	border-radius: 10px;
}
#innerNews div {
	background: #FEAD33;
	padding: 0.5em 1em;
	color: #fff;
	font-weight: bold;
	border-radius: 50px;
	cursor: pointer;
}
#btnStart {
	overflow: hidden;
}
#btnStart span {
	display: block;
	transition: 0.5s ease-in-out;
}
}


